<div [ngClass]="darkMode ? 'dark-mode':''">
    <div class="video-list-page">
        <div  class="px-4 chat-head-container mb-3 mx-2 is-flex is-align-items-center is-justify-content-space-between">
            <div>
                Recent Videos
            </div>
            <div class="is-flex is-align-items-center">
                <div class="is-clickable" (click)="myVideos()">
                    My Videos
                </div>
                <div class="is-clickable ml-3" (click)="uploadVideos()">
                    Upload
                </div>
            </div>
        </div>
        
        <div *ngIf="!showVideo" class="video-list-container px-1 is-flex is-flex-wrap-wrap" >
            <div class="video-card-container p-2" *ngFor="let i of numArray">
                <div class="video-card is-clickable" (click)="clickVideo()">
                    <div class="video-img">
                        <img src="../../../../assets/img/interstellar.png" alt="">
                    </div>
                    <div class="video-name p-2">
                        Interstellar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
