<div class="columns p-3 is-gapless is-mobile m-0">
    <div class="column is-6 pl-3">
        <app-search (searchEventData)="onSearch($event)" [placeHolder]="'Search videos'"></app-search>
    </div>
    <div class="column is-6  is-flex is-align-items-center is-justify-content-end">
        <div class="pr-4">
            <!-- <img class="icon is-clickable" src="../../../../assets/img/settings.svg" alt="" (click)="clickSettings()"> -->
        </div>
    </div>
</div>
<div class="px-2 chat-head-container mb-3 mx-2 is-flex is-align-items-center is-justify-content-center">
        Videos
</div>