.chat-head-container{
    height: 4rem;
    background-color: #207178;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.video-container{
    position: relative;
    height: 400px;
    video{
        height: 100%;
    }
}
.back-img{
    height: 20px;
    width: 20px;
}
#quality-display {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 10px;   /* Adjust as needed */
    color: red;
    font-weight: bold;
    z-index: 999; /* Ensure it's above other content */
  }

@media screen and (max-width: 1024px) {
    .video-container{
        height: 300px;
        video{
            height: 100%;
        }
    }
}
@media screen and (max-width: 768px) {
    .video-container{
        height: 300px;
        video{
            height: 100%;
        }
    }
}
@media screen and (max-width: 550px) {
    .video-container{
        height: 500px;
        video{
            height: 100%;
        }
    }
}