@import "../../../styles.scss";

.side-nav {
  width: 100%;
  min-height: calc(100vh - 50px);
  // background-color: $primary;
  position: sticky;
  top: 50px;
}

.a {
  color: $white;
  font-weight: 300;
}

$a-color: $primary;
.menulist:hover{
  border-radius: 2px;
  border: 1px solid $white;
  .a{
    color: $white;
  }
}
.is-active {
    border-radius: 2px;
    background-color: $white;
    .a{
      font-weight: 500;
      color: $black;
    }
  }
  .is-active:hover{
    .a{
      color: $black;
    }
  }
