@import "../../../styles.scss";

.side-nav {
  min-width: 100%;
  height: 100vh; 
  background-color: $primary;
  .brand-logo {
    text-align: center;
    img {
      width: 81px;
    }
  }
  .side-nav-links {
    .menu-icon {
      width: 14px;
      background-size: contain;
    }
  }
  
}

.a {
  color: $white;
  font-weight: 300;
}

$a-color: $primary;
.menulist:hover{
  border-radius: 2px;
  background-color: $white;
  .a{
    color: $black;
  }
}
.is-active {
    border-radius: 2px;
    background-color: $white;
    .a{
      font-weight: 500;
      color: $black;
    }
  }
