<div class=" is-fixed-bottom">
    <div class="chat-container px-3">
        <div class="chat-messages" >
            <div class="message" *ngFor="let message of message_list">
                {{ message.content }}
            </div>
        </div>
        <div class="chat-form is-flex is-justify-content-center is-align-items-center">
            <textarea class="input w-100" type="text"[(ngModel)]="message" name="message"></textarea>
            <div class="pl-2">
                <div class="is-clickable" (click)="sendMsg()"><img src="../../../../assets/img/settings.svg" alt=""></div>
            </div>
        </div>
    </div>
</div>
