<div class="modal is-active">
  <div class="modal-card">
    <div class="modal-card-body mx-5">
      <img class="icon close-img mr-2 mt-2" src="../../../../assets/img/cancel.png" alt="" (click)="close()">
      <div class="form-head">
        <p class="font-head is-font-primary has-text-centered">Edit Contact</p>
      </div>
      <div class="is-flex is-justify-content-center mt-3 pad-10">
        <div class="column is-8-desktop is-10-tablet is-full-mobile mt-2">
          <form
            class="form-card box py-5"
            (ngSubmit)="clickEdit()"
            [formGroup]="editContactForm"
          >
            <div class="msg has-text-centered pb-4">
              <p
                *ngIf="!isInputFocused"
                [ngClass]="{
                  'is-success': msg_status === 'success',
                  'is-danger': msg_status === 'error'
                }"
              >
                {{ msg }}
              </p>
            </div>
            <div class="field">
              <div class="control is-flex is-justify-content-center">
                <input
                  class="input is-size-5 mb-3"
                  formControlName="name"
                  type="text"
                  autocomplete="off"
                  placeholder="Contact Name"
                  name="name"
                  required
                  (focus)="inputFocused()"
                />
              </div>
              <div class="help-container is-flex is-justify-content-center">
                <div
                  class="help is-danger"
                  *ngIf="editContactForm?.get('name')?.invalid && showErrors"
                >
                  <div
                    *ngIf="editContactForm?.get('name')?.errors?.['required']"
                  >
                    Name is required.
                  </div>
                  <div
                    *ngIf="editContactForm?.get('name')?.errors?.['minlength'] || editContactForm?.get('name')?.errors?.['maxlength']"
                  >
                    Name must between 6 to 15 characters.
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control is-flex is-justify-content-center">
                <input
                  class="input is-size-5 mb-3"
                  formControlName="mobileNumber"
                  type="text"
                  autocomplete="off"
                  placeholder="Mobile Number"
                  name="mobileNumber"
                  required
                  (focus)="inputFocused()"
                />
              </div>
              <div class="help-container is-flex is-justify-content-center">
                <div
                  class="help is-danger"
                  *ngIf="
                    editContactForm?.get('mobileNumber')?.invalid && showErrors
                  "
                >
                  <div
                    *ngIf="editContactForm?.get('mobileNumber')?.errors?.['required']"
                  >
                    Mobile Number is required.
                  </div>
                  <div
                    *ngIf="editContactForm?.get('mobileNumber')?.errors?.['minlength'] || editContactForm?.get('mobileNumber')?.errors?.['maxlength']"
                  >
                    Mobile Number must be 10 Numbers.
                  </div>
                </div>
              </div>
            </div>
            <div class="btn mt-6 is-flex is-justify-content-center">
              <button class="button py-5" type="submit">
                <p>Edit Contact</p>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
