
<div class="columns is-mobile pl-3 pr-5 pt-5">
    <div class="column is-6">
        <div>
            {{userDetails.user_name}} <br> 
            {{userDetails.user_email}} 
        </div>
    </div>
    <div class="column is-6 px-0 is-flex is-justify-content-end">
        <button class="button primary" (click)="addContact()" *ngIf="currentRoute !== '/index/contact-book/add-contact' "> 
            <p>Add New Contact</p>
        </button>
    </div>
  </div>
   


    <router-outlet></router-outlet>

