<div class="pad-20">
    <div class="chat-box-container">
        <div class="px-2">
            <div class="chat-card my-2 is-clickable" *ngFor="let item of searchText ? searchInviteContactList : inviteContactList" (click)="clickChatBox(item)">
                <div class="columns is-mobile px-3">
                    <div class="column is-narrow">
                        <img src="../../../../assets/img/man.png" alt="">
                    </div>
                    <div class="column ">
                        <div class="field is-flex is-justify-content-space-between pr-4 is-align-items-center m-0">
                            <div class="font-sub">
                                {{item.name}}
                            </div>
                            <div>
                                {{item.number}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!inviteContactList || inviteContactList.length === 0">
                <p class="has-text-centered mt-6">No data</p>
            </div>
        </div>
    </div>
</div>