<div class="columns px-3 is-gapless is-mobile mt-3">
    <div class="column is-6 pl-3">
        <app-search (searchEventData)="onSearch($event)" [placeHolder]="'Search'"></app-search>
    </div>
    <div class="column is-6  is-flex is-align-items-center is-justify-content-end">
       <img class="icon" src="../../../../assets/img/settings.svg" alt="">
    </div>
    
</div>

    

<div class="px-2 chat-head-container mb-3" *ngIf="currentRoute !== '/index/chat-box/chat-page' " >
   <div>
    <app-tabs  [tab_list]="tabs_list" (tab_key)="tabChange($event)"></app-tabs>
   </div>  
    
</div>
<div>
    <router-outlet></router-outlet>
</div>

