.form-card{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 20px;

    .field{
        .heading{
            color: #207178;
        }
        
        input{
            border-bottom: 1px solid rgb(212, 212, 212);
        }
        input:hover{
            border: none;
            border-bottom: 1px solid rgb(212, 212, 212);
        }
        
    }
    .btn{
        button{
            width: 80%;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 2px;
            background-color: #207178;
            color: white;
            font-weight: 600;
        }
    }
}
.otp-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .otp-input input {
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .otp-input input.active {
    border-color: blue;
  }