@import "../../../styles.scss";

.tabs {
  overflow-x: visible;
  overflow: visible;

  ul {
    border: none;

    a {
      border-bottom: 4px solid transparent;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        border-bottom: 4px solid $primary;
        color: $primary;
      }
    }

    .is-active {
      a {
        border-bottom: 4px solid $primary;
        color: $primary;
      }
    }

    .note {
      position: relative;

      .alert {
        background: $black;
        padding: 8px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right: -4px;
        min-height: 30px;
        min-width: 30px;
        text-align: center;
        color: $grey-2;
        line-height: 1;
      }
    }
  }
}

.main-tabs {
  overflow-x: visible;
  overflow: visible;

  ul {
    display: flex;

    li {
      a {
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 600;
        &:hover {
          color: $black;
          background-color: $primary;
        }
        margin-right: 10px;
        margin-left: 10px;
      }

      &.is-active {
        a {
          color: $black;
          background-color: $primary;
        }
      }

      &:after {
        content: "|";
        display: inline-block;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }


  .note {
    position: relative;

    .alert {
      background: $black;
      padding: 8px;
      border-radius: 50%;
      position: absolute;
      top: -20px;
      right: -4px;
      min-height: 30px;
      min-width: 30px;
      text-align: center;
      color: $grey-2;
      line-height: 1;
    }
  }
}
