@import "../../styles.scss";
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $grey-nav;
    height: 50px;
    .logo{
        max-width: 100px
    }
    menu{
        a{
            color: $primary;
            padding: 0px 10px;
        }
        a:hover{
            color: #bb8c0c;
        }
    }
    .is-active {
        .a{
          font-weight: 600;
          color: rgb(187, 140, 12);
        }
      }
}
.logo-mobile{
    max-width: 80px
}

.ham-menu{
    position: relative;
}
.menu_dropdown{
    position: absolute;
    border-top: 2px solid $primary;
    background-color: $grey-nav;
    width: 100vw;
    top:50px;
    right: 0;
    z-index: 999;
    a{
        color: $primary;
    }

}