<div>
    <div class="column">
        <div class="welcome-head has-text-centered">
            <p class="font-sub has-text-weight-bold" >Welcome <span class="user_name"> {{userDetails.user_name}} </span> </p>
        </div>
    </div>
</div>
<div class="pad-20">
    <div class="columns mt-4 is-gapless">
        <div class="column is-4" *ngFor="let study of studiesTabs">
            <div class="p-3">
                <div class="prgm-container p-2">
                    <p class="is-flex is-justify-content-center font-sub">{{study.subject}}</p>
                </div>
            </div>    
        </div>
    </div>
</div>

