<div class="pad-20">
    <div class="chat-box-container">
        <div class="px-2">
            <div class="chat-card my-2 is-clickable" *ngFor="let item of searchText ? searchChatContactList : chatContactList" (click)="clickChatBox(item)">
                <div class="columns is-mobile px-3 py-2 is-gapless">
                    <div class="column is-narrow is-flex is-align-items-center">
                        <div class="profile-container">
                            <div class="profile-picture" [class.active]="onlineStatusInfo?.[item.number]?.online =='online'">
                                <img
                                    [src]="profilePictures[item.number] || 'assets/img/man.png'"
                                    alt="Profile Picture"
                                    class="picture"
                                />
                            </div>
                            
                          </div>
                       
                    </div>
                    <div class="column ">
                        <div class="field is-flex is-justify-content-space-between is-align-items-center m-0">
                            <div class="font-sub pl-3">
                                {{item.name}}
                            </div>
                            <div>
                                {{item.number}}
                            </div>
                        </div>
                        <div class="field is-flex is-align-items-center">
                            <p class="status pl-3">{{ onlineStatusInfo?.[item.number]?.online }}</p> 
                        </div>  
                    </div>
                </div>
            </div>
            <div *ngIf="!chatContactList || chatContactList.length === 0">
                <p class="has-text-centered mt-6">No data</p>
            </div>
        </div>
    </div>
</div>