.chat-head-container{
    height: 4rem;
    background-color: #207178;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.secondary-head{
    border-radius: 3px;
}
.back-img{
    height: 20px;
    width: 20px;
}
.list{
    .folder-container{
        &:hover{
            background-color: #4b97a02d;
            border-radius: 5px;
        }
        .folder-img{
            width: 40px;
            img{
                width: 100%;
            }
        }
    }.file-container{
        &:hover{
            background-color: #4b97a02d;
            border-radius: 5px;

        }
        .file-name{
            .name:hover{
                color: blue;
            }
        }
        .file-img{
            width: 40px;
            img{
                width: 100%;
            }
        }
        .file-type p{
            width: 300px;
            white-space: nowrap; /* Prevent the text from wrapping */
            overflow: hidden; /* Hide the overflowed text */
            text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
        }
        .file-action{
            img{
                width: 15px;
            }
        }
    }

}
.progress-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progress-ring {
    transform: rotate(-90deg);
  }
  .progress-ring__circle--bg {
    stroke: #c2c2c2; /* Light grey color for the background (tube) */
    stroke-width: 2;
    fill: transparent;
  }
  
  .progress-ring__circle {
    stroke: #207178; /* The color of the progress */
    stroke-width: 2;
    transition: stroke-dashoffset 0.35s ease;
  }


