@import '../../../../assets/sass/tablestyles.scss';
@import '../../../../styles.scss';


// .mat-menu-content{
//    padding-top: 0px !important;
// }

.mat-menu-item{
    color: $primary;
}
.download-img{
    width: 20px;
}


@media screen and (max-width: 400px) {
    .action-img{
    height: 10px;
    }
    .download-img{
        width: 15px;
    }
  }




